#heading-one {
    padding: 50px 100px 80px 40px;
    }

#heading-one {

    background-color: aqua;
    font-size: 50px;
}

.bg {
    background-color: aqua;
    font-size: 25px;
}

.p {
background-color: aqua;
font-size: 20px;
}
input[placeholder] {

background-color: rgb(94, 214, 90);

}












